/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Body styles */
body {
    width: 100%;
    height: 900vh;
    background: #202124;
    position: relative;
    align-items: center;
    justify-content: center;
}

/*Hero Page*/
/* Banner styles */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.25));
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
}

/* Navigation styles */
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 160px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 85px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #dfccc2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    font-size: 60px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

#menu-toggle {
    display: none;
}

@media only screen and (max-width: 1400px) {
    nav ul {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        background: rgba(223, 204, 194, 1);
        position: absolute;
        top: 0;
        right: -250px; /* Position off-screen to the right */
        transition: right 0.3s ease; /* Transition effect for right positioning */
        padding-top: 130px;
    }

    nav ul li {
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
    }

    #menu-toggle:checked + .hamburger + ul {
        right: 0; /* Slide in from the right */
    }
}

/* Content styles */
.content {
    margin-top: 550px;
    width: 100%;
    text-align: left;
}

.content h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}

.content p {
    font-size: 30px;
    letter-spacing: 4px;
    color: #fff;
    margin-left: 10px;
}

.primary-button {
    width: auto;
    padding: 30px 60px;
    font-size: 30px;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    background: #dfccc2;
    color: #202124;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block; /* Ensure it remains inline-block */
    border: none; /* Remove border */
    border-radius: 0; /* Remove rounded corners */
}

@media only screen and (max-width: 768px) {
    .primary-button {
        margin-top: 20px;
    }
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

/* Background video styles */
.backvideo {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .backvideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .backvideo {
        width: auto;
        height: 100%;
    }
}

/*Service Menu*/
.service-menu {
    width: 100%;
    background: #202124;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.service-menu h2 {
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    overflow-x: hidden;
}

.service-menu-gallery {
    position: absolute;
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default 4 by 4 grid */
    column-gap: 20px;
    row-gap: 120px;
}

/* Media query for 1400px to 781px */
@media only screen and (max-width: 1400px) and (min-width: 781px) {
    .service-menu-gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 by 2 grid */
        width: calc(90vw - 0%);
    }
}

/* Media query for 780px and below */
@media only screen and (max-width: 780px) {
    .service-menu-gallery {
        grid-template-columns: 1fr; /* Single column */
        width: calc(90vw - 4%);
    }
}

.gallery {
    width: 100%; /* Adjusted to fit the grid */
    height: 70vh; /* Default height */
    object-fit: cover;
    object-position: center;
}

figure {
    position: relative;
    display: flex;
    justify-content: center;
}

figcaption {
    position: absolute;
    bottom: -60px;
    color: #fff;
    font-size: 30px;
}